title=About
date=2013-09-24
type=page
status=published
~~~~~~

<table>
    <tr>
        <td>
            <!-- reference to image using relative path stored along side content files -->
            <img src="about/syed-m-shaaf.jpeg" alt="Syed M Shaaf"/><br/><br />

        </td>
        <td>
            I started off as a Software Engineer focused in build engineering accross multiple platforms e.g. solaris, linux, windows. From their on I took a start on Continuous Integration for C/Java components, and successfully did the same for many other projects as I learnt along. Today tools have matured I no longer need DVDs to install operating system. The possibilities are endless. During the years I have worked with multiple languages, which I treat as tools for achieving a goal that includes Java, .Net etc.

            Passionate about open source, also focusing on Cloud, Software defined data center, DevOps/Continuous delivery. All which are much more interesting together.

            I also spend my efforts on local meetups, conferences speaking on Cloud, Devops and open source.

            Links:
            Twitter: @syshaaf
            Slideshare: http://www.slideshare.net/sshaaf
        </td>
    </tr>
</table>



